@import "./_fontawesome-all.min.scss";
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

ul, ol {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;

    &:hover {
        color: #18bfef;
    }
}

body:not(p) {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    letter-spacing: 1px;
}

p {
    font-family: "Merriweather", Georgia, serif;
}

.date {
    font-size: 13px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    color: #212931;
    text-align: center;
    padding: 100px;

    #main {
        background-color: white;
    }
}

h1 {
    color: white;
    text-transform: uppercase;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.176);
    color: white;

    #menu {
        display: flex;
        align-items: center;
        margin: 0;
        flex-grow: 1;
        height: 70px;
        font-size: 13px;

        li {
        display: flex;
        align-items: center;
        height: 100%;
        }

        li:hover {
            background-color: rgba(255, 255, 255, 0.212);
        }
        
        a {
            padding: 30px;
        }

        a:hover {
            color: white;
        }

    }

    #icons {
        display: flex;
        margin: 0;
    }

}

.button {
    border: 2px solid #212931;
    padding: 15px 40px;
    font-size: 13px;

    &:hover {
        border-color: #18bfef;
    }
}

article {
    padding: 40px;
    border-bottom: 2px solid #eeeeee;
    
    p {
        text-align: justify;
        line-height: 40px;
    }
}

article:nth-child(even) {
    border-left: 2px solid #eeeeee;
}

.articles {
    display: grid;
    grid-template-areas: 
        "article1 article2"
        "article3 article4"
        "article5 article6";
}

#article1 {
    grid-area: "article1";
} 

#article2 {
    grid-area: "article2";
}

#article3 {
    grid-area: "article3";
} 

#article4 {
    grid-area: "article4";
}

#article5 {
    grid-area: "article5";
} 

#article6 {
    grid-area: "article6";
}
